
Improgress/4. Timelog/~$PM_TimeLog.xlsx

Improgress/2. Artifact and Deliverable/Test case/TE_FunctionTest/TE_Testcase_Module3_ver1.3/~$K22T1_TeamBDS_ TC_Importbaocao(Admin).xlsx
Improgress/2. Artifact and Deliverable/Test case/TE_FunctionTest/TE_Testcase_Module3_ver1.3/~$K22T1_TeamBDS_ TC_sosanhdothiKQKD(mobile).xlsx
Improgress/2. Artifact and Deliverable/Test case/TE_FunctionTest/TE_Testcase_Module2_ver1.4/~$K22T1_TeamBDS_ TC_AddDuanbds_ver1.0.xlsx
Improgress/2. Artifact and Deliverable/Test case/TE_FunctionTest/TE_Testcase_Module1_ver1.4/~$K22T1_TeamBDS_ TC_Xemthongtintaikhoan.xlsx
Improgress/2. Artifact and Deliverable/Test case/TE_FunctionTest/TE_Testcase_Module1_ver1.4/~$K22T1_TeamBDS_ TC_UploadOrganizationChart_ver1.4.xlsx
Improgress/2. Artifact and Deliverable/Test case/TE_FunctionTest/TE_Testcase_Module1_ver1.4/~$K22T1_TeamBDS_TC_DangNhap.xlsx
Improgress/2. Artifact and Deliverable/Test case/TE_Testcase_Module2_ver1.4/~$K22T1_TeamBDS_ TC_AddDuanbds_ver1.0.xlsx

Improgress/2. Artifact and Deliverable/Test case/TE_Testcase_Module1_ver1.4/~$K22T1_TeamBDS_TC_DangNhap.xlsx

